{% extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}
    Agregar Cliente
{% endblock titulo %}

{% block contenido %}
    <h2>Agregar un cliente</h2>
    <form action="" method="post">  
        {% csrf_token %} 
        <p>Nombre: <input type="text" name="nombre" id="nombre"></p>
        <p>DNI: <input type="number" name="DNI" id="DNI"></p>
        <p>email: <input type="Email" name="email" id="email"></p>
        <input type="submit" value="Enviar">
    </form>
{% endblock contenido %}


