{% extends 'aplicacion/base.html' %}
{% load static %}


{% block titulo %}
    marca
{% endblock titulo %}


{% block contenido %}
<h1>marca</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>marca</th>
            <th>modelo</th>
            <th>año</th>
        </tr>
    </thead>
    <tbody>
{% for c in marcas  %}
        <tr>
            <td>{{ c.marca }}</td>
            <td>{{ c.modelo }}</td>
            <td>{{ c.año }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% endblock contenido %}
    